extends layout

block content
  h1= title
  p Welcome to booklisting

  ol
    for book in books
      li
        img(src=book.image)
        a(href="books/details/"+book.id)= book.title
        p= book.description
        ul
          for author in book.authors
            li= author.name
