extends layout

block content
  h1 Title
  h1= book.title

  h2 Book Description
  h2= book.description


  h3 Book Image
  img(src=book.image)

  h3 Authors
  ol
    for author in book.authors
      li= author.name

  a(href=`/books/${book.id}/delete`) Delete Book
