extends layout

block content

  if books.length > 0
    table
      thead
        tr
          th
          th Title
          th Description
          th Author
      tbody
        for book in books
          tr
            td
              img(src=book.image)
            td
              a(href="books/"+book.id)=book.title
            td= book.description
            td
              for author in book.authors
                li= author.name

  else
    h3
      span Sorry, I can't find any result for&nbsp;"
      span= search
      span "&nbsp;when searching.

  if page > 1
    a(href=`/search/?page=${page - 1}`) &laquo;

  a(href='/search/?page=' + (page + 1) ) &raquo;
